body {
	background-color: #1b262c;
	color: #bbe1fa;
	font-family: "Dancing Script", cursive;
	font-size: 2.5rem;
	text-align: center;
}
h1 {
	font-family: "Rowdies", cursive;
	font-size: 8rem;
	margin-top: 5%;
}
.drum {
	width: 150px;
	height: 150px;
}
