body {
	background-color: #1b262c;
	color: #bbe1fa;
	font-family: "Dancing Script", cursive;
	text-align: center;
}
h1 {
	font-family: "Rowdies", cursive;
	font-size: 6rem;
	margin-top: 5%;
	text-shadow: 3px 0 #da0463;
}
h2 {
	text-shadow: 2px 0 #da0463;
	font-size: 2.5rem;
}
footer {
	font-family: "Indie Flower", cursive;
	margin-top: 5%;
	color: #dbedf3;
}
.pressed {
	box-shadow: 0 3px 4px 0 #dbedf3;
	opacity: 0.5;
}
.w {
	background-image: url("./images/tom1.png");
}
.a {
	background-image: url("./images/tom2.png");
}
.s {
	background-image: url("./images/tom3.png");
}
.d {
	background-image: url("./images/tom4.png");
}
.j {
	background-image: url("./images/snare.png");
}
.k {
	background-image: url("./images/crash.png");
}
.l {
	background-image: url("./images/kick.png");
}
.drum {
	outline: none;
	display: inline-block;
	margin: 5% 0.5%;
	width: 150px;
	height: 150px;
	border: 10px solid #3282b8;
	border-radius: 15px;
	font-size: 5rem;
	text-shadow: 3px 0 #dbedf3;
	color: #eb6383;
}
